@model List<Product>
@{
    ViewData["Title"] = "Create";
}
<h1></h1>
<h2>Create</h2>

<form action="Save" method="post" style="border: 1px solid">

    name: <input type="text" value="" name="Name">
    price: <input type="number" value="" name="Price">
    <input type="submit" name="create" value="Create" />

</form>
<br /><br /><br />
<form action="Edit" method="post" style="border: 1px solid">
    id: <input type="text" name="Id" value="" />
    name: <input type="text" name="Name" value="" />
    price: <input type="text" name="Price" value="" />
    <input type="submit" name="update" value="Update" />

</form>
<br /><br /><br />
<form action="Delete" method="post" style="border: 1px solid">
    id: <input type="text" name="Id" value="" />
   
    <input type="submit" name="Delete" value="Delete" />

</form>
<br /><br /><br />
@foreach (var product in Model)
{
    <div style="border: 1px solid">
        <p>@product.Id</p>
        <p>name: @product.Name</p>
        <p>price: @product.Price</p>
    </div>
}